[Unit]
Description=Unit for weather measurements

[Service]
Restart=on-failure
WorkingDirectory=/home/pi/weather-station-web/
ExecStart=/home/pi/weather-station-web/.venv/bin/python manage.py measurements

[Install]
WantedBy=multi-user.target
